


/* .transformY {
   scale: 1;
  transform: translatey(0);
  
} */
 
.Rseet{
  background-color: rgb(245, 245, 150);
  color: rgb(31, 31, 1);
  margin-top: .5rem;
}
.Rseet:hover{
  background-color: rgb(247, 247, 124);
  color: rgb(31, 31, 1);
}
.check-email{
  color: rgba(0, 0, 0, 0.644);
  padding: .5rem 1.5rem;
}
@media screen and (max-width: 430px){
  .reset-email{
    height: 280px;
    width: 320px;
  }
  .input-small-screen{
    width: 250px;
  }
  h6{
    font-size: 1rem;
  }
}